@use 'global';

.jumbotron-background {
  background-image: url("/images/cayley.jpg");
  background-position-x: center;
  background-position-y: 40%;
}
#jumbotron-biden {
  background-image: url("/images/jan-rosolino.jpg");
  background-position: center;
  background-size: cover;
}
#biden-jumbotron-layer {
  background-color: rgba(240, 185, 133, 0.7);
}
.jumbotron-layer {
  background-color: rgba(114, 181, 212, 0.7);
}
.bg-grey {
  background-color: #bfbfbf;
}
#feature-image-1 { /* balloons */
  background-image: url("images/balloon.jpg");
  background-position: center;
  background-size: cover;
}
#feature-image-2 {/* longer distances */
  background-image: url("images/vimy.jpg");
  background-position: center;
  background-size: cover;
}
#feature-image-3 {/* beginnings of commercial */
  background-image: url("/images/jenny.jpg");
  background-position: center;
  background-size: cover;
}
#feature-image-4 {/* wright brothers influences */
  background-image: url("/beginnings/images/first-flight.jpg");
  background-position: center;
  background-size: cover;
}
.background {
  background-image: url("/images/dominik-schroder.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
