body, html {
    height: 100%;
}

.background {
    /* Photo by Sebastian Grochowicz on Unsplash */
    background-image: url("https://github.com/historytakesflight/historytakesflight.github.io/blob/master/images/sebastian-grochowicz-9CI7BElfwbg-unsplash.jpg?raw=true");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    position: relative;
}